/*----------------------------------------------
	Site Header
----------------------------------------------*/

.site-header {	
	.logo {
		max-width: 10em;
		min-width: 8em;	
		height: auto;
		display: block;
		margin: 3em auto;
		-webkit-filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
		filter: drop-shadow( 0 0 20px rgba(0,0,0,.1) );
	}	
}